/* _content/BlazorBPAR/Components/BootstrapSelect.razor.rz.scp.css */
.selectDiv[b-2sjul7n7np] {
    width: 183px;
    height: 64px;
    border: 1px solid rgb(0,0,0);
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    background-color: rgba(181, 239, 217, 0.97);
}

.selectLabel[b-2sjul7n7np] {
    font-size: 16px;
    font-family: wf_standard-font, helvetica, arial, sans-serif;
    color: rgb(37, 36, 35);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    width: auto;
    margin: 0px 10px 0px 15px;
    -webkit-flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

 
/* _content/BlazorBPAR/Components/BootstrapSelectList.razor.rz.scp.css */
.div[b-utwx7b4g65] {
    float: right;
    width: 183px;
}
/* _content/BlazorBPAR/Components/DynamicTable.razor.rz.scp.css */
.table-container[b-apyrdxqi62] {
    max-height: 350px;
    overflow-y: auto;
    display: block;
}

.dark-theme[b-apyrdxqi62] {
    color: #E4E6EB;
    background-color: #242526;
    border-color: #474A4D;
    width: 100%;
    border-collapse: collapse;
}

    .dark-theme th[b-apyrdxqi62], .dark-theme td[b-apyrdxqi62] {
        padding: 8px;
        border: 1px solid #474A4D;
        text-align: left;
    }

    .dark-theme > th[b-apyrdxqi62] {
        background-color: #3A3B3C !important;
        color: white !important;
    }

    .dark-theme td[b-apyrdxqi62] {
        background-color: #242526;
        color: #E4E6EB;
    }

    .dark-theme tbody tr:hover[b-apyrdxqi62] {
        background-color: #3A3B3C;
    }

.light-theme[b-apyrdxqi62] {
    color: #333;
    background-color: #FFFFFF;
    border-color: #DDD;
    width: 100%;
    border-collapse: collapse;
}

    .light-theme th[b-apyrdxqi62], .light-theme td[b-apyrdxqi62] {
        padding: 8px;
        border: 1px solid #DDD;
        text-align: left;
    }

    .light-theme th[b-apyrdxqi62] {
        background-color: #F2F2F2;
        color: black;
    }

    .light-theme td[b-apyrdxqi62] {
        background-color: #FFFFFF;
        color: #333;
    }

    .light-theme tbody tr:hover[b-apyrdxqi62] {
        background-color: #F5F5F5;
    }




/* _content/BlazorBPAR/Pages/BPAR_Pages/BinoffWeeklyReport.razor.rz.scp.css */
body[b-dmr903u6q3] {
}
/* _content/BlazorBPAR/Pages/BPAR_Pages/VatCookCurves.razor.rz.scp.css */

.vatCookCurveButton[b-67taen4oiq] {
    background-color: rgba(94, 203, 200, 0.97);
    height: 40px;
    width: 183px;
    font-family: 'Segoe UI',wf_segoe-ui_normal,helvetica,arial,sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-box-orient: vertical;
}

.vatCookCurveMainMenuButton[b-67taen4oiq] {
    height: 44px;
    background-color: rgba(102,75,172,255);
    fill-opacity: 0.5;
    stroke: rgb(96, 94, 92);
    stroke-width: 6;
    stroke-opacity: 1;
    font-size: 16px;
    font-family: 'Segoe UI',wf_segoe-ui_normal,helvetica,arial,sans-serif;
}
/* _content/BlazorBPAR/Shared/MainLayout.razor.rz.scp.css */
.page[b-vpjcpgjnxq] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-vpjcpgjnxq] {
    flex: 1;
}

.sidebar[b-vpjcpgjnxq] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-vpjcpgjnxq] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-vpjcpgjnxq]  a, .top-row .btn-link[b-vpjcpgjnxq] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-vpjcpgjnxq] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-vpjcpgjnxq] {
        display: none;
    }

    .top-row.auth[b-vpjcpgjnxq] {
        justify-content: space-between;
    }

    .top-row a[b-vpjcpgjnxq], .top-row .btn-link[b-vpjcpgjnxq] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-vpjcpgjnxq] {
        flex-direction: row;      
        height: 100vh;
    }

    .sidebar[b-vpjcpgjnxq] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vpjcpgjnxq] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-vpjcpgjnxq], article[b-vpjcpgjnxq] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorBPAR/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jfan23tzh2] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-jfan23tzh2] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-jfan23tzh2] {
    font-size: 1.1rem;
}

.oi[b-jfan23tzh2] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jfan23tzh2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jfan23tzh2] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jfan23tzh2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jfan23tzh2]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-jfan23tzh2]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-jfan23tzh2]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jfan23tzh2] {
        display: none;
    }

    .collapse[b-jfan23tzh2] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
