@page "/BinoffWeeklyReport"
@using BlazorBPAR.Components
@using BlazorBPAR.Services
@inject SQLQueryService SQLQueryService
@inject IJSRuntime JS
@inject IConfiguration config


<div style="background-color: rgba(76,71,150,255); overflow: auto; height: 100%; width: 100%; position: relative;">
    <div class="sidebarLeftBPAR">
        <div style="float:right;width:100%">
            <BootstrapSelectList selectOptions="@selectList" />
        </div>
    </div>
    <div class="rightDIVBPAR">
        <BPARTitle title="Binoff Weekly Report" />
        <div id="Graphs" class="graphHolderBPAR">
            <DynamicGraph GraphOptions="@rollingGraph" />
        </div>
    </div>
</div>