@page "/VatCookCurves"
@using BlazorBPAR.Components
@using BlazorBPAR.Services
@inject SQLQueryService SQLQueryService
@inject IJSRuntime JS
@inject IConfiguration config
@inject InputDataService inputData

<div style="background-color: rgba(76,71,150,255); overflow: auto; height: 100%; width: 100%; position: relative;">
    <div class="sidebarLeftBPAR">
        <div style="float:right; width:100%">
            <div style="float:right; width:183px">
                <!--Main Menu button-->
                <button class="vatCookCurveMainMenuButton">Main Menu</button>
                <button class="vatCookCurveButton">Weekly Yields (Test)</button>
                <button class="vatCookCurveButton">Daily Yields</button>
                <button class="vatCookCurveButton">Probiotic Review</button>
                <button class="vatCookCurveButton">Vat Protein Retention</button>
                <button class="vatCookCurveButton">Vat BF Retention</button>
                <button class="vatCookCurveButton">Tote Weights</button>
            </div>
        </div>
        <div style="float:right;width:100%">
            <BootstrapSelectList SelectOptions="@selectList" @ref="RefList" />
        </div>
    </div>
    <div class="rightDIVBPAR">
        <BPARTitle title="Vat Cook Curves" />
        <div id="Graphs" class="graphHolderBPAR">
            @if(GraphOptions != null)
            {
                @foreach (var graph in GraphOptions)
                {
                    <DynamicGraph GraphOptions="@graph" @ref="Ref"/>
                }
            }
        </div>
    </div>
</div>