################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/


BlazorBPAR/bin

BlazorBPAR/obj

BlazorBPAR/.vs