################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/

obj/

bin/

BlazorBPAR/.vs/

BlazorBPAR/bin/Debug/net6.0/