@using BlazorBPAR.Components
@using BlazorBPAR.Services
@inject SQLQueryService SQLQueryService
@inject IJSRuntime JS

@if (selectOptions != null && selectOptions.Count() > 0)
{
    <div>
        @foreach (var select in selectOptions)
        {
            <BootstrapSelect SelectOptions="select" @ref="@Ref" bootstrapSelects="@_refs" />
        }
    </div>
}





