@using BlazorBPAR.Components
@using BlazorBPAR.Services
@inject SQLQueryService SQLQueryService
@inject InputDataService inputData
@inject IJSRuntime JS

@if (SelectOptions != null && SelectOptions.Count() > 0)
{
    <div>
        @foreach (var select in SelectOptions)
        {
            <BootstrapSelect SelectOptions="select" @ref="@Ref" BootstrapSelects="@_refs" />
        }
    </div>
}





