@using BlazorBPAR.Services;
@inject SQLQueryService SQLQueryService
@inject IJSRuntime JS
@inject InputDataService inputData
@inject IConfiguration config

<div id="GraphHolder" style="height: 70%; width: 100%; float:left;">
    @if(GraphOptions != null && GraphOptions.GraphElement != null)
    {
        <div google-chart="@GraphOptions.GraphElement" style="width: @GraphOptions.Width; height: @GraphOptions.Height; float:left" id="@GraphOptions.GraphElement" />
    }
</div>
