@using BlazorBPAR.Services;
@inject SQLQueryService SQLQueryService
@inject IJSRuntime JS
@inject InputDataService inputData
@inject IConfiguration config

@if (GraphOptions != null && GraphOptions.GraphElement != null)
{
    <div id="GraphHolder" style="height: @GraphOptions.Height; width: @GraphOptions.Width; float:left;">
        <div google-chart="@GraphOptions.GraphElement" style="width: 100%; height: 100%; float:left" id="@GraphOptions.GraphElement" />
    </div>
}
