@page "/"
@using BlazorBPAR.Components
@inject NavigationManager nav
@inject IJSRuntime JS

<button @onclick='() => openPage("/BinoffWeeklyReport")'>Binoff Weekly Report</button>
<button @onclick='() => openPage("/VatCookCurves")'>Vat Cook Curves</button>
